<h1>New Product</h1>
<form action="/create" method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  Name <input type ='text' name='name'>
  Description <input type ='text' name='description'>
  Price <input type='text' name='pricing'>
  Category: <select name='id'>
    <%= options_from_collection_for_select(@categories, 'id', 'name',) %>
  </select>

  <input type='submit' name='Create'>
</form>


<a href='/products'>Back</a>
